
//
// Input variables:
//
	@grid-page-width: 1000px;
	@grid-page-height: 1000px;
	
	@grid-margin-top: 20px;
	@grid-margin-bottom: 20px;
	@grid-margin-left: 20px;
	@grid-margin-right: 20px;
	
	@grid-gutter-h: 10px;
	@grid-gutter-v: 10px;
	
	@grid-row-count: 12;
	@grid-column-count: 12;
	
	@grid-debug: true;

//
// Grid parameters:
//
	@grid-row-height: (@grid-page-height - @grid-margin-top - @grid-margin-bottom - ((@grid-row-count - 1) * @grid-gutter-v)) / @grid-row-count;
	@grid-column-width: (@grid-page-width - @grid-margin-right - @grid-margin-left - ((@grid-column-count - 1) * @grid-gutter-h)) / @grid-column-count;
	
//
// Debug helpers:
//
	.debug-block(@color) when (@grid-debug = true) {
		background-color: @color;
	}
	
//
// Grid body:
//
	.grid-body {
		display: block;
		width: (@grid-page-width - @grid-margin-left - @grid-margin-right); 
		margin: @grid-margin-top @grid-margin-right @grid-margin-bottom @grid-margin-left;
		padding: 0;
		position: relative;
	}
	
//
// Grid rows:
//

	.row-span-n(@n) {
		height: ((@n * @grid-row-height) + ((@n - 1) * @grid-gutter-v));
	}
	
	.row-skip-n(@n) {
		margin-top: (2 * @grid-gutter-v) + ((@n * @grid-row-height) + ((@n - 1) * @grid-gutter-v));
	}
	
	.grid-row {
		display: block;
		position: relative;
		margin-top: @grid-gutter-v; 
		margin-bottom: @grid-gutter-v;
		padding: 0;
		
		// Compensate for the gutter on column blocks:
		margin-left: -@grid-gutter-h;
		margin-right: -@grid-gutter-h;
		
		// Contain all floats inside the row:
		&:after {
			content: "";
			display: block;
			clear: both;
		}
	
		.generate-span(@n, @i: 1) when (@i =< @n) {
			&.span-@{i} {
				.row-span-n (@i);
			}
			
			.generate-span (@n, (@i + 1));
		}

		.generate-skip(@n, @i: 1) when (@i =< @n) {
			&.skip-@{i} {
				.row-skip-n (@i);
			}
			
			.generate-skip (@n, (@i + 1));
		}
		
		.generate-span (@grid-row-count);
		.generate-skip (@grid-row-count - 1);

		.debug-block (red);
	}
	
//
// Grid column:
//
	.col-span-n(@n) {
		width: ((@n * @grid-column-width) + ((@n - 1) * @grid-gutter-h));
	}
	
	.col-skip-n(@n) {
		margin-left: (2 * @grid-gutter-h) + ((@n * @grid-column-width) + ((@n - 1) * @grid-gutter-h));
	}
	
	.grid-col {
		margin-left: @grid-gutter-h;

		height: 100%;
		float: left;
				
		.generate-span(@n, @i: 1) when (@i =< @n) {
			&.span-@{i} {
				.col-span-n (@i);
			}
			
			.generate-span (@n, (@i + 1));
		}

		.generate-skip(@n, @i: 1) when (@i =< @n) {
			&.skip-@{i} {
				.col-skip-n (@i);
			}
			
			.generate-skip (@n, (@i + 1));
		}
		
		.generate-span (@grid-column-count);
		.generate-skip (@grid-column-count - 1);
			
		.debug-block (green);
	}
	
	