@(mapId: String, tocItems:java.util.List[nl.idgis.geoide.commons.domain.traits.Traits[nl.idgis.geoide.commons.domain.toc.TOCItem]])


@import nl.idgis.geoide.commons.domain.toc.TOCItemLayerRefTrait
@import nl.idgis.geoide.commons.domain.traits.Trait

@displayItem(item: nl.idgis.geoide.commons.domain.traits.Traits[nl.idgis.geoide.commons.domain.toc.TOCItem], level: Integer = 0, layerRefId: String) = {
	
	<li class="gi-toc-level-@level @if(item.get().isExpandable()){expandable} @if(item.get().isExpanded()){expanded}
								   @if(item.get().isActivatable()){activatable} @if(item.get().isActive()){active}
								   @if(item.get().isGroup()) {isGroup}"
								   @if(item.has(classOf[TOCItemLayerRefTrait])){
								   		data-layerref-id = "@layerRefId" 
									}>
								
		<label>			
			@if(item.get().isExpandable()) {
				<span class="expandable-icons">
					<i class="fa fa-minus-square-o"></i>
					<i class="fa fa-plus-square-o"></i>
				</span>
			}
			@if(item.has(classOf[TOCItemLayerRefTrait])){
				<span>
					<input type="checkbox" class="toc-checkbox" 
					@if(((item.`trait`(classOf[TOCItemLayerRefTrait])).getLayerRef()).getInitialStateValue("visible")=="true") {checked}
					@if(((item.`trait`(classOf[TOCItemLayerRefTrait])).getLayerRef()).getInitialStateValue("visible") == ""){checked}>
				</span>
			}
			<span>
				@if(item.get().getSymbol()!=null&&item.get().getSymbol()!="") {
					<img  alt="Legenda niet beschikbaar" src= @item.get().getSymbol().getLegendGraphicUrl()>
					<!--  img src= @controllers.core.routes.Image.getImage("image:///" + item.get().getSymbol().getId() + ".png")-->
					<img alt="Legenda niet beschikbaar" src= @controllers.core.routes.Image.getImage(item.get().getSymbol().getLegendGraphicUrl())>
					}
			</span>
			<span>

			
			<span class="gi-toc-title activatable-setter">
				@item.get().getLabel()
			</span>
			
		</label>
		@if(!item.get().getItems().isEmpty()) {
		
			@for(index <- 0 until item.get().getItems().size){
	   			@if(index == 0){
	        		<ul>
	    		}
	    		@displayItem(item.get().getItems().get(index), level + 1, layerRefId + "/" + (index + 1))
	    		@if(index == (item.get().getItems().size - 1)){
	        		</ul>
	   			}
			}
			
		}

	</li>
}


<ul class="gi-toc" data-geoide-map="@mapId">
	@for(index <- 0 until tocItems.size){
   		@displayItem(tocItems.get(index), 0, "" + (index + 1))
	}
</ul>	
