.geoide-map-ol2, .geoide-map-ol3 {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.gi-overlay-body {
	&.moveable {
		cursor: move;
	}
	
	.editable-text {
		padding: 4px;
	}
}